{%extends "appBase.html"%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">

    <h1>
        <center>Supplies</center>
    </h1>
    <ul class="list-group">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%for item in supplies%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.cost}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.quantity}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fas fa-trash-alt    "></i>
                        </button>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

    </ul>
    <br>
    <form method="get" action="{%url 'supplies:newSupply'%}">
        <button type="submit" class="btn btn-primary">New Supply</button>
    </form>
</div>
{%endblock content%}